@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-jp: "Noto Sans JP", sans-serif;
  --font-mm: "Noto Sans Myanmar", sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900;
}

ruby rt {
  @apply text-[0.65em] text-slate-500 select-none;
}
